* {
    margin: 0 auto; 
}

#button1 {
    float:left;
    padding: 20px;
    margin-left: 10em;
    background-color: #4185b3;
    border: 0px;
    color: white;
    width: 250px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#button4 {
    float:right;
    padding: 20px;
    margin-right: 1em;
    background-color: #ffffff;
    border: 0px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

#button4:hover {
    background-color: #4185b3;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#button3 {
    float:right;
    padding: 20px;
    margin-right: 1em;
    background-color: #ffffff;
    border: 0px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

#button3:hover {
    background-color: #4185b3;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#button2 {
    float:right;
    padding: 20px;
    margin-right: 20em;
    background-color: #ffffff;
    border: 0px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

#button2:hover {
    background-color: #4185b3;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
